In [1]:
import pandas as pd
import os

In [2]:
filepath = os.path.join('output','cities.csv')

In [3]:
df = pd.read_csv(filepath,delimiter=',')
df.head()

,city,cloudiness,country,date,humidity,lat,lng,max_temp,wind_speed
0,Igarka,20,RU,1538155532,87,67.47,86.57,51.14,18.68
1,Kavieng,0,PG,1538155532,100,-2.57,150.80,83.36,11.52
2,Krasnovishersk,88,RU,1538155532,97,60.40,57.08,41.06,10.63
3,Klaksvik,92,FO,1538153400,93,62.23,-6.59,46.40,19.46
4,Rikitea,24,PF,1538155533,100,-23.12,-134.97,72.02,2.24

In [5]:
output_path = os.path.join('output','data_table.html')
df.to_html(output_path)